<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css" type="text/css">
    <title>사이트명: 로그인</title> <!-- 나중에 이름 변경 -->
</head>

<body>
    <form method="POST">
        <div class="container">
          <label for="ownerid">User ID</label>
          <input
            type="text"
            class="form-control"
            id="ownerid"
            name="ownerid"
            placeholder="ID를 입력해주세요."/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</body>

</html>
