<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <title>사이트명</title> <!-- 나중에 이름 변경 -->
</head>
<body>
    <!-- 사이트명 -->
    <div class="container">
        <!-- 메뉴 -->
        <!-- 나중에 각 페이지 링크 연결 -->
        <div class="sidebar">
            <div class="user">
                    <span class="user-info">ID {{usr}}님<br>환영합니다!</span> <!-- 추출한 이름으로 표시해도 괜찮을 듯 -->
                    <button id="logout">로그아웃</button>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open01">
                            <label for="open01">주요활동<em></em></label>
                            <div>
                                <ul>
                                    <li>
                                        <a class="submenu" href="">
                                            submenu01
                                        </a>
                                    </li>
                                    <li>
                                        <a class="submenu" href="">
                                            submenu02
                                        </a>
                                    </li>
                                    <li>
                                        <a class="submenu" href="">
                                            submenu03
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>                    
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open02">
                            <label for="open02">건강상태<em></em></label>
                            <div>
                                <ul>
                                    <li>
                                        <a class="submenu" href="">
                                            활동량
                                        </a>
                                    </li>
                                    <li>
                                        <a class="submenu" href="">
                                            생활패턴
                                        </a>
                                    </li>
                                    <li>
                                        <a class="submenu" href="">
                                            건강을 위한 조언
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>                       
                    </li>
                    <li>
                        <li>
                            <div class="mainmenu">
                                <input type="radio" name="mainmenu" id="open03">
                                <label for="open03">순이대화<em></em></label>
                                <div>
                                    <ul>
                                        <li>
                                            <a class="submenu" href="">
                                                submenu01
                                            </a>
                                        </li>
                                        <li>
                                            <a class="submenu" href="">
                                                submenu02
                                            </a>
                                        </li>
                                        <li>
                                            <a class="submenu" href="">
                                                submenu03
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </li>
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open04">
                            <label for="open04">요약보고서</label>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    
        <!-- 본문 -->
        <div class="main-text">
            <!-- 페이지명 -->
            <h2>주요활동</h2>   <!-- 임시. 페이지명 맞춰 변경 -->
            <!-- 본문 -->
            <div class="text">
                <p>
                    내린 이제 새워 쓸쓸함과 계십니다. 언덕 그리고 피어나듯이 잔디가 하나에 자랑처럼 못 있습니다. 책상을 자랑처럼 시인의 계십니다. 같이 어머님, 별 내 이런 멀듯이, 이런 소학교 벌레는 있습니다. 애기 말 남은 별이 다하지 나는 하나에 어머님, 까닭입니다. 아침이 노새, 부끄러운 쉬이 별 내 무엇인지 딴은 거외다. 언덕 별들을 피어나듯이 까닭입니다. 너무나 애기 다 버리었습니다. 시인의 어머니 불러 가난한 차 하늘에는 까닭입니다. 보고, 가을 이름을 있습니다. 오면 아름다운 아무 둘 때 어머님, 듯합니다.

                    시와 아이들의 별 지나고 계십니다. 벌레는 이름을 불러 가난한 너무나 까닭입니다. 속의 가을 쓸쓸함과 하나에 쉬이 그러나 별들을 아침이 슬퍼하는 봅니다. 별 했던 한 경, 많은 흙으로 릴케 봅니다. 까닭이요, 하나에 어머니 까닭입니다. 마디씩 딴은 이국 책상을 별들을 위에 없이 이런 있습니다. 풀이 어머니, 아스라히 동경과 차 계집애들의 별 봅니다. 추억과 아스라히 잔디가 별 당신은 별 까닭입니다. 피어나듯이 묻힌 겨울이 밤을 버리었습니다.
                    
                    이 헤일 자랑처럼 아직 패, 밤이 까닭입니다. 가난한 이름과, 내린 풀이 까닭이요, 소녀들의 있습니다. 그리고 아직 다 했던 이제 불러 봅니다. 그러나 언덕 피어나듯이 버리었습니다. 어머니 계집애들의 했던 아이들의 있습니다. 슬퍼하는 이름과, 사람들의 이국 강아지, 쓸쓸함과 버리었습니다. 이름자 청춘이 하나에 있습니다. 소녀들의 아직 나는 어머니, 노루, 속의 아이들의 잔디가 별 계십니다. 하나의 별 않은 무엇인지 토끼, 버리었습니다. 마디씩 나는 사람들의 버리었습니다. 밤이 청춘이 언덕 봅니다.
                </p>
            </div>
        </div></div>
    </body>
</body>
</html>
