<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <title>사이트명</title> <!-- 나중에 이름 변경 -->
</head>
<body>
    <!-- 사이트명 -->
    <div class="container">
        <!-- 메뉴 -->
        <!-- 나중에 각 페이지 링크 연결 -->
        <div class="sidebar">
            <div class="user">
                    <span class="user-info">ID {{usr}}님<br>환영합니다!</span> <!-- 추출한 이름으로 표시해도 괜찮을 듯 -->
                    <button id="logout">로그아웃</button>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open01">
                            <label for="open01">활동량</label>
                        </div>
                    </li>
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open02">
                            <label for="open02">생활패턴</label>
                        </div>                       
                    </li>                    
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open03">
                            <label for="open03">건강상태</label>
                        </div>                       
                    </li>
                    <li>
                        <li>
                            <div class="mainmenu">
                                <input type="radio" name="mainmenu" id="open04">
                                <label for="open04">순이대화</label>
                            </div>
                        </li>
                    </li>
                    <li>
                        <div class="mainmenu">
                            <input type="radio" name="mainmenu" id="open05">
                            <label for="open05">요약보고서</label>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    
        <!-- 본문 -->
        <div class="main-text">
            <!-- 페이지명 -->
            <h2>주요활동</h2>   <!-- 임시. 페이지명 맞춰 변경 -->
            <!-- 본문 -->
            <div class="text">
                <p>
                    (내용 추가)
                </p>
            </div>
        </div></div>
    </body>
</body>
</html>
