<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    User ID: {{ usr }}
    <br>
    취침시간 평균: {{ stm }}
    <br>
    취침시간 표준편차: {{ sts }}
    <br>
    기상시간 평균: {{ atm }}
    <br>
    기상시간 표준편차: {{ ats }}
    <br>
    평균 수면시간: {{ avs }}
    <br>
    일반 약 복용시간 평균: {{ rmm }}
    <br>
    일반 약 복용시간 표준편차: {{ rms }}
    <br>
    하루 평균 화장실 이용 횟수: {{ toilet }}
    <br>
    하루 평균 취미생활 횟수: {{ hobby }}
    <br>
    아침식사 시간 평균: {{ bm }}
    <br>
    아침식사 시간 표준편차: {{ bs }}
    <br>
    점심식사 시간 평균: {{ lm }}
    <br>
    점심식사 시간 표준편차: {{ ls }}
    <br>
    저녁식사 시간 평균: {{ dm }}
    <br>
    저녁식사 시간 표준편차: {{ ds }}
</body>
</html>
