@charset "utf-8";

.container {
  display: grid;
  grid-template-columns: 300px 1fr; /*전체 화면 분할*/
}

/*---사이드 바---*/
.sidebar {
  display: grid;
  grid-template-rows: 150px 1fr; /*유저 정보 높이 맞게 수정*/
  min-height: 1000px;
  margin: 0;

  background-color: gray;
}

/*유저 정보*/
.user {
  display: grid;
  grid-template-columns: 1fr 120px;

  box-sizing: border-box;
  width: 300px;
  height: 150px;
  margin: 0px;
  padding: 10px;
  place-items: center;
  align-self: center;

  background: lightgray;
}

.user-info {
  /*ID 표시*/
  margin: 0;
  color: black;
  font-size: 20px;
}

button[id="logout"] {
  /*로그아웃 버튼*/
  width: 90px;
  height: 50px;
  border-radius: 3px;
  margin-left: 20px;

  background-color: gray;
  color: white;
  font-size: 16px;
}

/*메뉴*/
input[id*="open"] {
  /*hide radio*/
  display: none;
}
input[id*="open"] + label {
  /*mainmenu*/
  display: block;
  padding: 25px;
  /*border-top: 1px solid white;*/

  cursor: pointer;
  position: relative;
}

/*---텍스트---*/
.main-text {
  padding: 20px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  padding-bottom: 10px;
  margin: 0;
  display: block;

  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 16px;
  text-align: justify;
}
