@charset "utf-8";

html {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr; /*전체 화면 분할*/
  height: 100vh;
}

/*---사이드 바---*/
.sidebar {
  display: grid;
  grid-template-rows: 150px 1fr; /*유저 정보 높이 맞게 수정*/
  margin: 0;
  background-color: gray;
}

/*유저 정보*/
.user {
  display: grid;
  grid-template-columns: 1fr 120px;

  box-sizing: border-box;
  width: 300px;
  height: 150px;
  margin: 0px;
  padding: 10px;
  place-items: center;
  align-self: center;

  background: lightgray;
}

.user-info {
  /*ID 표시*/
  margin: 0;
  color: black;
  font-size: 20px;
}

button[id="logout"] {
  /*로그아웃 버튼*/
  width: 90px;
  height: 50px;
  border-radius: 3px;
  margin-left: 20px;

  background-color: gray;
  color: white;
  font-size: 16px;
}

/*메뉴*/
input[id*="open"] {
  /*hide radio*/
  display: none;
}
input[id*="open"] + label {
  /*mainmenu*/
  display: block;
  padding: 25px;
  /*border-top: 1px solid white;*/

  cursor: pointer;
  position: relative;
}

.lifepattern {
  position: relative;
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 4fr 1fr 3fr;
  grid-gap: 1px;
  padding: 5px;
  height: 100vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 20px 0;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 20px 0;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
  font-size: 15px;
  padding: 0px;
}

.item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: left;
  font-size: 18px;
  margin-left: 30px;
  padding: 40px 10px;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: left;
  font-size: 18px;
  padding: 10px 0px;
}

.canvas,
.canvas2 {
  margin-top: 5px;
}

.mealadvice {
  font-size: 16px;
}

/*---순이대화---*/
.suni {
  position: relative;
  padding: 30px;
}
.suni div.para {
  margin-bottom: 80px;
}
.suni span {
  font-size: 18px;
  font-weight: bold;
}
/*그래프*/
.suni .bar-graph {
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: 20px 1fr;
  grid-gap: 10px;
}
.suni .bar-graph .bar-graph-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.suni .bar-graph .bar-graph-label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  align-self: stretch;
  text-align: right;
  line-height: 40px;
  font-size: 13px;
}
.suni .bar-graph .bar-graph-bar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: stretch;
}
canvas#response-prob {
  display: block;
  width: 400px;
  height: 150px;
  align-items: center;
}

canvas#participation-days {
  display: block;
  width: 400px;
  height: 205px;
  align-items: center;
}

#chart_div {
  position: relative;
  margin-left: 10px;
}

.testing {
  position: relative;
}
.activity {
  position: relative;
  margin-left: 10px;
}
.grid_A {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1px;
  padding: 5px;
  height: 100%;
  justify-items: center;
  text-align: left;
}

.grid_A > div {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1px;
}

.zchart {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 20px 0;
}
.zment {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 20% 0;
  display: flex;
  align-self: center;
}

.exerchart {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding: 20px 0;
}
.exerment {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px 0;
}
.outchart {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 20px 0;
}

.outment {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 20px 0;
}

.modal-dialog {
  margin-left: 22.5%;
  padding: 0;
}

.modal-content {
  height: auto;
  width: 800px;
  min-height: 800px;
  border-radius: 0;
}

.modal_container {
  grid-template-columns: 200px 100px;
  grid-template-rows: auto;
}

.lifepattern1 {
  height: 1000px;
}
.circle-container {
  margin-left: 25%;
  height: 400px;
  transform: translate(90px, 150px);
}
.circle-container div {
  display: block;
  position: absolute;
  white-space: nowrap;
}
.center {
  transform: translate(-100px, -120px);
}
.dinnerreport {
  text-align: right;
}
.lifepattern-score {
  width: 110px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
  transform: translate(0, -150px);
}
hr {
  border: 1px solid black;
}
.score-name {
  text-align: center;
  vertical-align: middle;
  height: 10px;
}
#score {
  font-size: xx-large;
  font-weight: bold;
}
.score-val {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 40px;
}
/*순이 대화*/
.grid-suni1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 30px) 5px repeat(4, 100px);
  grid-template-rows: 30px 60px 5px 30px 40px 5px 30px 40px 5px 30px 40px;

  margin: 0px;
  padding: 10px;
  text-align: center;
}
.suni-total-score {
  /*총 점수*/
  margin: 0px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 1px solid black;
  border-radius: 10px;
}
.suni-total-score .score-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  margin: 0px;
  border-bottom: 1px solid black;
}

#unit01{
  font-size: 16px;
}

.suni-total-score .score-value {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0px;
  align-self: flex-end;
  font-size: 30px;
  font-weight: bold;
}
.grid-suni1 .blank01 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.suni-total-comment {
  /*조언*/
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;

  margin: 0px;
  border: 1px solid black;
  text-align: justify;
}
.grid-suni1 .blank02 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.suni-conv-score {
  /*대화점수*/
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}
.suni-conv-score .score-title {
  border-bottom: 1px solid black;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
.suni-conv-score .score-value {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}
.grid-suni1 .blank03 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
#conv-details-1 {
  /*대화횟수*/
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
[class^="details-title"] {  
  font-size: 12px;
}
#conv-details-1 .details-title1 {
  display: block;
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;

  margin: 0px;
}
#conv-details-1 .details-value1 {
  display: block;
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}
#conv-details-2 {
  /*응답률*/
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}
#conv-details-2 .details-title2 {
  display: block;
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
#conv-details-2 .details-value2 {
  display: block;
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
}
.grid-suni1 .blank04 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.suni-program-score {
  /*참여 점수*/
  margin: 0px;
  border: 1px solid black;
  border-radius: 10px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 9;
}
.suni-program-score .score-title {
  display: block;
  margin: 0px;
  border-bottom: 1px solid black;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}
.suni-program-score .score-value {
  margin: 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  align-self: center;
}
.grid-suni1 .blank05 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
#program-details-1 {
  /*참여 횟수*/
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
}
#program-details-1 .details-title1 {
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
}
#program-details-1 .details-value1 {
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
  display: block;
  align-self: center;
}
#program-details-2 {
  /*종류*/
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}
#program-details-2 .details-title2 {
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
}
#program-details-2 .details-value2 {
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  display: block;
  align-self: center;
}
.grid-suni1 .blank06 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 10;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
.grid-suni1 .blank07 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 10;
  grid-row-end: 12;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
#program-details2-1 {
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 12;
}
[class^="details2-title"] {  
  font-size: 12px;
}
#program-details2-1 .details2-title1 {
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 11;
}
#program-details2-1 .details2-value1 {
  margin: 0px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 12;
  display: block;
  align-self: center;
}
#program-details2-2 {
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 12;
}
#program-details2-2 .details2-title2 {
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 10;
  grid-row-end: 11;
}
#program-details2-2 .details2-value2 {
  margin: 0px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 11;
  grid-row-end: 12;
  display: block;
  align-self: center;
}
#program-details2-3 {
  margin: 0px;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 12;
}
#program-details2-3 .details2-title3{
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 11;
}
#program-details2-3 .details2-value3{
  margin: 0px;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 11;
  grid-row-end: 12;
  display: block;
  align-self: center;
}
#program-details2-4 {
  margin: 0px;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 12;
}
#program-details2-4 .details2-title4{
  margin: 0px;
  border-bottom: 1px solid black;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 11;
}
#program-details2-4 .details2-value4{
  margin: 0px;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 11;
  grid-row-end: 12;
  display: block;
  align-self: center;
}
.grid-activity1{
    display: flex;
    border: 3px solid rgba(black, .1);
    gap: 10px;
}
.act_part1{
    justify-self:start;
}
#inside{
    margin-left: 40px;
}

.act_part2{
    margin-left: 30px;
}


.act_part1 span{
  font-size: 18px;
  font-weight: bold;
  white-space:nowrap;
}
#inside2 b{
  font-size: 18px;
  font-weight: bold;
  white-space:nowrap;
}
#inside2{
align-self: center;
}
#inside3{
align-self: center;
}
#inside3 b{
  font-size: 18px;
  font-weight: bold;
  white-space:nowrap;
}


#oldman{
    margin-top: 10px;
    width: 100px;
    height: 200px;
    justify-self:start;
}
.actscorename {
  text-align: center;
  vertical-align: middle;
  height: 10px;
}

.act-score{
    border: 1px solid black;
     border-radius: 10px;
     width: 100px;
     height: 100px;
     align-self: center;
}

#actscore{
font-size: xx-large;
  font-weight: bold;
}
.actscore-val{
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  height: 40px;
}
