@charset "utf-8";

html {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr; /*전체 화면 분할*/
  height: 100vh;
}

/*---사이드 바---*/
.sidebar {
  display: grid;
  grid-template-rows: 150px 1fr; /*유저 정보 높이 맞게 수정*/
  min-height: 1000px;
  margin: 0;

  background-color: gray;
}

/*유저 정보*/
.user {
  display: grid;
  grid-template-columns: 1fr 120px;

  box-sizing: border-box;
  width: 300px;
  height: 150px;
  margin: 0px;
  padding: 10px;
  place-items: center;
  align-self: center;

  background: lightgray;
}

.user-info {
  /*ID 표시*/
  margin: 0;
  color: black;
  font-size: 20px;
}

button[id="logout"] {
  /*로그아웃 버튼*/
  width: 90px;
  height: 50px;
  border-radius: 3px;
  margin-left: 20px;

  background-color: gray;
  color: white;
  font-size: 16px;
}

/*메뉴*/
input[id*="open"] {
  /*hide radio*/
  display: none;
}
input[id*="open"] + label {
  /*mainmenu*/
  display: block;
  padding: 25px;
  /*border-top: 1px solid white;*/

  cursor: pointer;
  position: relative;
}

.lifepattern{
  position: relative;
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 4fr 1fr 3fr;
  grid-gap: 1px;
  padding: 5px;
  height: 100vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 1px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 20px 0;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  padding: 20px 0;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
  font-size: 15px;
  padding: 0px;
}

.item4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: left;
  font-size: 18px;
  margin-left: 30px;
  padding: 40px 10px;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: left;
  font-size: 18px;
  padding: 0px;
}

.canvas, .canvas2 {
  margin-top: 5px;
}

.mealadvice {
  font-size: 16px;
}
/*---텍스트---*/
.main-text {
  padding: 20px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  padding-bottom: 10px;
  margin: 0;
  display: block;

  font-size: 30px;
  text-align: center;
}

.text {
  font-size: 16px;
  text-align: justify;
}
